*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.home{
    width: auto;
    height: 100vh;
    overflow: hidden;
    background-color: rgb(0, 0, 0);
    color: white;
}
.home::before{
    content: '';
    position: absolute;
    inset:0;
    background-image: url('https://e0.pxfuel.com/wallpapers/846/344/desktop-wallpaper-portfolio-thumbnail.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    z-index: 1;
    filter: opacity(0.5) blur(5px);
}
.home .container{
    position: relative;
    text-align: center;
    padding: 20px;
    z-index: 2;
    top: 50%;
    transform: translateY(-50%);
    left: 20px;
}
.sidebar{
    display: block;
    position: fixed;
    background: rgba(65, 57, 79, 0.415);
    width: 300px;
    height: 100%;
    z-index: 3;
    backdrop-filter: blur(10px);
}
.sidebar ul{
    padding: 30px;
    padding-top: 50px;
    list-style: none;
}
.sidebar ul li{
    padding: 40px;
}
.sidebar ul li a{
    color: white;
    font-size: 24px;
    text-decoration: none;
    font-weight: 300;
    position: absolute;
    transition: all 0.3s ease-in-out;
}
.menu{
    position: absolute;
    z-index: 2;
    cursor: pointer;
    background-color: blue;
    padding: 10px;
    border-radius: 50%;
    width:50px;
    height: 50px;
    text-align: center;
    top: 20px;
    right: 20px;
    font-size: 24px;
    color: white;
    display: none;
}
.sidebar ul li a::after{
    content: '';
    height: 1.5px;
    width: 0;
    position: absolute;
    left: 0;
    bottom: -4px;
    background-color: rgb(255, 123, 237);
    transition: all 0.2s ease-in;
}
.sidebar ul li a:hover{
    /* color: rgb(142, 142, 142); */
    transform: translateX(10px);
}
.sidebar ul:hover li > a:not(:hover){
    color: rgb(142,142,142);
}
.sidebar ul li a:hover::after{
    width: 100%;
}
.red{
    position: relative;
}
.Projects, .CodingProfiles{
    margin-left: 300px;
    background: #141414;
}
@media screen and (max-width: 900px){
    .sidebar{
        display: none;
    }
    .menu{
        display: block;
        z-index: 4;
    }
    .Projects,.CodingProfiles{
        margin-left: 0;
    }
}
.active{
    display: block;
}
.profiles{
    text-align: center;
    display: flex;
    gap: 10px;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-items: center;
}
.profiles a{
    text-decoration: none;
    padding: 20px 40px;
    background: white;
    border-radius: 5px;
    color: black;
    width: 300px;
    display: flex;
    gap: 20px;
    align-items: center;
    transition: all 0.3s ease-in-out;
}
.profiles a:hover{
    background: rgb(0, 0, 0);
    color: white;
}